services:

  database:
    image: postgres:latest
    container_name: ewm-postgres
    ports:
      - "5433:5432"
    volumes:
      - ./volumes/postgres:/var/lib/postgresql
      - ./init-scripts:/docker-entrypoint-initdb.d
    environment:
      - POSTGRES_DB=ewm_main_db
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
    healthcheck:
      test: pg_isready -q -d $$POSTGRES_DB -U $$POSTGRES_USER
      timeout: 5s
      interval: 5s
      retries: 10

  discovery-server:
    container_name: ewm-discovery-server
    build: ./infra/discovery-server
    ports:
      - "8761:8761"
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8761/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 12s

  config-server:
    container_name: ewm-config-server
    build: ./infra/config-server
    ports:
      - "8762:8762"
    environment:
      - SERVER_PORT=8762
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    depends_on:
      discovery-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8762/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 30s

  gateway-server:
    container_name: ewm-gateway-server
    build: ./infra/gateway-server
    ports:
      - "8080:8080"
    environment:
      - SERVER_PORT=8080
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    depends_on:
      config-server:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s

  stats-server:
    build: ./stats/stats-server
    container_name: stats-server
    ports:
      - "9090:9090"
    depends_on:
      database:
        condition: service_healthy
      config-server:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=database
      - SERVER_PORT=9090
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9090/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s

  event-service:
    build: ./core/event-service
    container_name: event-service
    ports:
      - "9091:9091"
    depends_on:
      database:
        condition: service_healthy
      config-server:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=database
      - SERVER_PORT=9091
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9091/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s

  request-service:
    build: ./core/request-service
    container_name: request-service
    ports:
      - "9092:9092"
    depends_on:
      database:
        condition: service_healthy
      config-server:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=database
      - SERVER_PORT=9092
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9092/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s

  subscription-service:
    build: ./core/subscription-service
    container_name: subscription-service
    ports:
      - "9093:9093"
    depends_on:
      database:
        condition: service_healthy
      config-server:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=database
      - SERVER_PORT=9093
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9093/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s

  user-service:
    build: ./core/user-service
    container_name: user-service
    ports:
      - "9094:9094"
    depends_on:
      database:
        condition: service_healthy
      config-server:
        condition: service_healthy
    environment:
      - POSTGRES_HOST=database
      - SERVER_PORT=9094
      - EUREKA_SERVER_URL=http://discovery-server:8761/eureka/
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:9094/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 45s